body {
    margin: 0;
    background: aquamarine;
    padding: 50px 450px;
}
/* Header */
header {
    background-color: azure;
}

.container {
    display: flex;
    height: 300px;
    
}
.contacts {
    
}

.contacts > ul {
    align-items: center;
    
}

.contacts > ul > li {
        font-size: 24px;
        list-style-type: square;
        vertical-align: middle;
}

/* Main */
main {
    background-color:blueviolet;
    height: 450px;
}


/* Footer */

footer {
    background-color:cadetblue;
    height: 100px;
}