body {
    margin: 0;
    background: black;
    padding: 100px 450px;
}
/* Header */


.container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: wheat; 
    background: url(photo.jpg) no-repeat center;
    background-size: 100%;
    height: 250px;
    margin: 0;
    filter: grayscale(100%);
    transition: all ease-in 0.5s;
    
}

.container .text {
    border: 1px solid white;
    font-size: 18px;
    color: white;
    background:rgba(132, 165, 160, 0.4) ;
    width: 230px;
    height: 130px;
    margin-bottom: 40px;
}

.headertext {
    text-align: center;
    margin-left: 20px;
}


.contacts {
    text-align: left;
    margin-right: 20px;
}

.contacts > ul {
    align-items: center;
    
}

.contacts > ul > li {
        font-size: 24px;
        list-style-type: square;
}

/* Main */
main {
    background-color:blueviolet;
    border: 1px solid blueviolet;
}


/* Footer */

footer {
    background-color:cadetblue;
    height: 100px;
}