body {
    margin: 0;
    background: black;
    font-family: "Fira Sans", sans-serif;
}
/* Header */

header {
    min-width: 300px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: wheat;
    background: url(../images/mainphoto.png) no-repeat center;
    min-height: 250px;
    min-width: 320px;
    margin: 0;
    filter: grayscale(100%);
    transition: all ease-in 0.5s;
}

.container .text {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    background: rgba(132, 165, 160, 0.4);
}

@media (max-width: 320px) {

    .text h1,
    h2,
    h3,
    p {
        font-size: 50%;
        padding: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .headertext, .contacts {
        height: 160px;
        justify-content: center;
    }
    .maininfo {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .biography img {
        width: 100%;
    }
    pre {
        font-size: 7px;
    }
    .courses {
        padding-left: 5px;
        width: 300px;
    }
    .courses svg, .courses img {
        width: 12px;
        height: 12px;
    }
    .courses li {
        font-size: 12px;
    }
    .skills {
        font-size: 12px;
        width: 250px;
    }
    footer div {
        font-size: 12px;
    }
}

.headertext {
    text-align: center;
    margin-left: 20px;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-right: 20px;
    vertical-align: middle;
}

.contacts > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-left: 5px;
}

.contacts > ul > li {
    display: flex;
    min-width: 150px;
    font-size: 24px;
    list-style-type: none;
}

.contacts img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.contacts a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* Main */
main {
    background-color: white;
    border: 1px solid white;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.maininfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    gap: 30px;
}

.aboutme {
    flex: 4;
    border: 1px dashed black;
    padding: 10px;
}

.biography {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
}

.biography img {
    margin-top: 30px;
    border-radius: 50%;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    gap: 30px;
}

.skills {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
}

.skills ul {
    list-style-type: square;
    margin-right: 10px;
    padding: 15px;
}

.skills ul li {
    margin-left: 0;
}

.code {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
}

.courses {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.courses ul {
    padding: 0;
    margin: 0;
}

.courses ul li {
    list-style: none;
    margin-bottom: 5px;
}

.courses svg,
img {
    margin-right: 5px;
}

/* Footer */

footer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    min-height: 100px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.git a,
.year {
    margin-top: 10px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.git,
.year,
.rsschool {
    display: flex;
    flex-wrap: wrap;
}
