html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: black;
    font-family: "Fira Sans", sans-serif;
    
}
/* Header */

header {
    min-width: 300px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
#toggle_hm {
    opacity: 0;
}
.hamb__menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 3;
}
.hm_container {
    visibility: hidden;
    display: block;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: rgb(169, 159, 159);
    opacity: 0.8;
    padding: 0;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition: all ease-in 0.5s;
}
.hm_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.hm_btn {
    visibility: hidden;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}
.hm_btn > span,
.hm_btn > span::before,
.hm_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.hm_btn > span::before {
    content: "";
    top: -8px;
}
.hm_btn > span::after {
    content: "";
    top: 8px;
}
#toggle_hm:checked ~ .hm_btn > span {
    transform: rotate(45deg);
}
#toggle_hm:checked ~ .hm_btn > span::before {
    transform: rotate(0);
    top: 0;
}
#toggle_hm:checked ~ .hm_btn > span::after {
    transform: rotate(90deg);
    top: 0;
}
#toggle_hm:checked ~ .hm_container {
    visibility: visible;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: wheat;
    background: url(../images/mainphoto.png) no-repeat center;
    min-height: 250px;
    min-width: 300px;
    height: 330px;
    margin: 0;
    filter: grayscale(100%);
    transition: all ease-in 0.5s;
}

.container .text {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    font-size: 18px;
    color: white;
    background: rgba(132, 165, 160, 0.4);
}

@media (max-width: 767px) {
    .text h1,
    .text h2,
    .text h3,
    .text p {
        font-size: 50%;
        padding: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }
    h3 {
        font-size: 16px;
    }
    .hamb__menu {
        display: block;
    }
    .hm_container {
        translate: 100%;
    }
    .hm_btn {
        display: block;
        visibility: visible;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .headertext,
    .contacts {
        height: 160px;
        justify-content: center;
    }
    .maininfo {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .biography {
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .bio__text {
        margin: auto;
    }
    .biography img {
        width: 50%;
    }
    pre {
        font-size: 7px;
    }
    .courses {
        padding-left: 5px;
        width: 300px;
    }
    .courses svg,
    .courses img {
        width: 12px;
        height: 12px;
    }
    .courses li {
        font-size: 12px;
    }
    .skills {
        font-size: 12px;
        width: 250px;
    }
    .skills li {
        font-size: 12px;
    }
    footer div {
        font-size: 12px;
    }
}

.headertext {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 230px;
    padding: 0 10px;
}
.text h2 {
    margin: 0;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    height: 230px;
    vertical-align: middle;
    padding: 0 10px;
}
.contacts p {
    margin-top: 0;
    margin-bottom: 0;
}

.contacts > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-left: 5px;
}

.contacts > ul > li {
    display: flex;
    min-width: 150px;
    font-size: 24px;
    list-style-type: none;
    padding: 2px;
}

.contacts img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.contacts a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* Main */
main {
    background-color: white;
    border: 1px solid white;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.maininfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    gap: 30px;
}

.aboutme {
    flex: 4;
    border: 1px dashed black;
    padding: 10px;
}

.biography {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
    padding: 10px;
}

.biography img {
    margin: auto 0;
    max-width: 180px;
    border-radius: 50%;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    gap: 30px;
}

.skills {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
}

.skills ul {
    list-style-type: square;
    margin-right: 10px;
    padding: 15px;
}

.skills ul li {
    margin-left: 0;
}

.code {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
}

.courses {
    flex: 1;
    border: 1px dashed black;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.courses ul {
    padding: 0;
    margin: 0;
}

.courses ul li {
    list-style: none;
    margin-bottom: 5px;
}

.courses svg,
img {
    margin-right: 5px;
}

/* Footer */

footer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    min-height: 100px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.git a,
.year {
    margin-top: 10px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.git,
.year,
.rsschool {
    display: flex;
    flex-wrap: wrap;
}
